<html lang="fr-FR">
    <head>
        <script src="library/jquery/jquery.min.js"></script>
        <script src="library/popperjs/popper.min.js"></script>

        <!-- VueJs -->
            <!-- development version, includes helpful console warnings -->
            <script src="library/vuejs/vue.js"></script>
            <!-- production version, optimized for size and speed 
                not that it matter for something as simple as a resume -->
            <!--<script src="vuejs/vue.min.js"></script>-->
                        
            <script src="library/vuejs/i18n/vue-i18n.js"></script>

        <!-- Bootstrap -->
            <link rel="stylesheet" href="library/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="library/bootstrap/css/bootstrap-grid.min.css">
            
            <script src="library/bootstrap/js/bootstrap.min.js"></script>
        
        <script src="library/vuejs/http-vue-loader/http-vue-loader.js"></script>
        <script src="library/intl-helper/intl.js"></script>
        <script type="module" src="main.js"></script>

        <link rel="stylesheet" type="text/css" href="hidelanguagechoice.css" media="print">
    </head>
 
    <body>
        <div id="resume" style="margin-top: 1.5em;">
            <div id="langChoice" class="row" style="position:absolute; top:0px; right:3%; z-index: 10000;">
                <select v-model="$i18n.locale">
                    <option v-for="(lang, i) in option.availableLang" :key="`Lang${i}`" :value="lang">{{ lang }}</option>
                </select>
            </div><!--
            <div id="versionChoice" class="row" style="position:absolute; top:0px; right:6%; z-index: 10000;">
                <select v-model="option.version.value">
                    <option v-for="version in option.version.config" :key="version.key" :value="version.key">{{ $t(version.key) }}</option>
                </select>
            </div>-->
            <resume v-bind:option="option" v-bind:resume="resume"></resume>
        </div>
    </body>
</html>